---
title: Completed Projects
lang: en
---


{{>banner-en}}


<section id="realisationProjet" class="realisation-projets" xmlns="http://www.w3.org/1999/html">
  <div class="container section-title light">
    <p>
      We are proud to have completed and collaborated on numerous works of all scales in Quebec, Ontario and New Brunswick. We are known for the quality of our work and our expertise in planning and project management as much in the field of construction as in commercial, institutional and industrial renovation, as well as in layout plans or the transformation of spaces. Our know-how and expertise apply to modern buildings and specialized complexes as well as high-tech and historic buildings of all sizes.
    </p>
    <!--<p class="caption">
      (Click on each projects to view more pictures)
    </p>-->
  </div>
  <div class="container">
    <!--<div class="filters text-center">
      <div id="portfolio-filter" class="btn-group" role="group">
        <button type="button" class="active btn btn-default">Toutes</button>
        <button type="button" data-filter="bureau" class="btn btn-default">Bureaux</button>
        <button type="button" data-filter="ecole" class="btn btn-default">Écoles</button>
        <button type="button" data-filter="exterieur" class="btn btn-default">Extérieur</button>
        <button type="button" data-filter="complexe" class="btn btn-default">Complexes</button>
      </div>
    </div>-->

    <div id="portfolio" class="portfolio">
      <article class="portfolio-item" data-tags="bureau complexe">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/centre-medicale-lenjeu.png" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU">
              <img src="{{assets}}/images/portfolio/centre-medicale-lenjeu.png">
            </a>
          <div>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_2.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_3.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_4.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_5.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_6.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_7.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_8.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_9.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_10.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_11.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_12.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_13.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_14.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_15.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_16.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_17.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_18.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_19.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
            <a href="{{assets}}/images/galleries/clinique_l_enjeu_20.jpg" class="fancybox" rel="clinique_l_enjeu" title="Centre médical L’ENJEU"></a>
         </div>
        </div>
        <div class="portfolio-desc">
          <h4>Centre médical L’ENJEU</h4>
          <h5>Medical Clinic specializing in Cardiology</h5>
          <p>Completion of a full development of an ultra-modern medical clinic covering over 14,000 square feet and equipped with state of the art technology.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="ecole">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/college-saint-anne.png" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine">
              <img src="{{assets}}/images/portfolio/college-saint-anne.png">
            </a>
            <div>
              <a href="{{assets}}/images/galleries/collegiale_sadl_2.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_3.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_4.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_5.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_6.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_7.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_8.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_9.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_10.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_11.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_12.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_13.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_14.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_15.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_16.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_17.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_18.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_19.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_20.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_21.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_22.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_23.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_24.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_25.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_26.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_27.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_28.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_29.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_30.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_31.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_32.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_33.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_34.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_35.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_36.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_37.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_38.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
              <a href="{{assets}}/images/galleries/collegiale_sadl_39.jpg" class="fancybox" rel="collegiale_sadl" title="Collège Sainte-Anne de Lachine"></a>
            </div>
        </div>
        <div class="portfolio-desc">
          <h4>Collège Sainte-Anne de Lachine</h4>
          <h5>Collégial International Sainte-Anne</h5>
          <p>Complete restoration and conversion of a 6-story large-scale historic building in an international private college.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="ecole">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/cdlh.png" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead">
              <img src="{{assets}}/images/portfolio/cdlh.png">
            </a>
            <div>
                <a href="{{assets}}/images/galleries/cdlh_2.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_3.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_4.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_5.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_6.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_7.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_8.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_9.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
                <a href="{{assets}}/images/galleries/cdlh_10.jpg" class="fancybox" rel="cdlh" title="CDLH - Centre de Loisirs Hampstead"></a>
            </div>
        </div>
        <div class="portfolio-desc">
          <h4>CDLH - Centre de Loisirs Hampstead</h4>
          <p>Development of sports complex, changing rooms with lockers, showers and a fast food cafeteria</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="ecole">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/bba-brossard.png" class="fancybox" rel="bba_brossard" title="BBA Brossard">
              <img src="{{assets}}/images/portfolio/bba-brossard.png">
            </a>
            <div>
                <a href="{{assets}}/images/galleries/bba_brossard_1.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
                <a href="{{assets}}/images/galleries/bba_brossard_2.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
                <a href="{{assets}}/images/galleries/bba_brossard_3.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
                <a href="{{assets}}/images/galleries/bba_brossard_4.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
                <a href="{{assets}}/images/galleries/bba_brossard_5.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
                <a href="{{assets}}/images/galleries/bba_brossard_6.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
                <a href="{{assets}}/images/galleries/bba_brossard_7.jpg" class="fancybox" rel="bba_brossard" title="BBA Brossard"></a>
            </div>
        </div>
        <div class="portfolio-desc">
          <h4>BBA Brossard</h4>
          <h5>Engineering Consultants Firm</h5>
          <p>Engineering office development covering over 20,000 square feet.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau exterieur">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/bba-brossard.png" class="fancybox" rel="stanford_bank" title="Stanford Bank">
              <img src="{{assets}}/images/portfolio/stanford-bank.png">
            </a>
            <div>
                <a href="{{assets}}/images/galleries/stanford_bank_2.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_3.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_4.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_5.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_6.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_7.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_8.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_9.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
                <a href="{{assets}}/images/galleries/stanford_bank_10.jpg" class="fancybox" rel="stanford_bank" title="Stanford Bank"></a>
            </div>
        </div>
        <div class="portfolio-desc">
          <h4>Stanford Bank</h4>
          <h5>Financial Institution</h5>
          <p>Development of prestigious offices for the financial institution’s management team.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/neuf-architectes.png" class="fancybox" rel="neuf-architecte" title="NEUF architect(e)s">
              <img src="{{assets}}/images/portfolio/neuf-architectes.png">
            </a>
        </div>
        <div class="portfolio-desc">
          <h4>NEUF architect(e)s</h4>
          <p>...</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="complexe exterieur">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/cimetiere-mont-royal.png" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal">
              <img src="{{assets}}/images/portfolio/cimetiere-mont-royal.png">
            </a>
            <div>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_2.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_3.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_4.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_5.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_6.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_7.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_8.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_9.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_10.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_11.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_12.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_13.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_14.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_15.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_16.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_17.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire cimetière Mont-Royal"></a>
            </div>
        </div>
        <div class="portfolio-desc">
          <h4>Mount Royal Funeral Complex</h4>
          <p>Restoration and expansion of the Mount Royal funeral complex, including the crematorium and chapel which can accommodate 300 people.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/dion-durell.png" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés">
              <img src="{{assets}}/images/portfolio/dion-durell.png">
            </a>
            <div>
                <a href="{{assets}}/images/galleries/dion_durell_2.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
                <a href="{{assets}}/images/galleries/dion_durell_3.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
                <a href="{{assets}}/images/galleries/dion_durell_4.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
                <a href="{{assets}}/images/galleries/dion_durell_5.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
                <a href="{{assets}}/images/galleries/dion_durell_6.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
                <a href="{{assets}}/images/galleries/dion_durell_7.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
                <a href="{{assets}}/images/galleries/dion_durell_8.jpg" class="fancybox" rel="dion_durell" title="Dion, Durrell &amp; associés"></a>
            </div>

        </div>
        <div class="portfolio-desc">
          <h4>Dion, Durrell &amp; associés,</h4>
          <h5>Actuarial and Financial Consultants</h5>
          <p>Complete office layout.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="complexe exterieur">
        <div class="portfolio-image">
            <a href="{{assets}}/images/portfolio/complexe-funeraire-des-trembles.png" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles">
              <img src="{{assets}}/images/portfolio/complexe-funeraire-des-trembles.png">
            </a>
            <div>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_2.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_3.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_4.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_5.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_6.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_7.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_8.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_9.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_10.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_11.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_12.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_13.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_14.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_15.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_16.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
                <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_17.jpg" class="fancybox" rel="chapelle_cimetiere_mont_royal" title="Complexe funéraire des Trembles"></a>
            </div>
        </div>
        <div class="portfolio-desc">
          <h4>Complexe funéraire des Trembles</h4>
          <p>Construction et aménagement du complexe funéraire des Trembles incluant toutes les voies d'accès et le terrassement.</p>
        </div>
      </article>
    </div>


  </div>
</section>

{{>jointeam-en}}
