---
title: Accueil
parent: root
---

<section id="hero" class="hero parallax full-screen">
  <div class="swiper-container">

    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('{{assets}}/images/hero-1.png');">
        <div class="slider-caption container-fluid">
          <div class="row">
            <div class="col-sm-7">
              <a href="{{relative page.dest "dist/realisation-projets.html"}}" class="portfolio-btn btn-lg btn light bordered">Voyez toute nos réalisations</a>
            </div>
            <div class="col-sm-5 text-right">
              <h4>Collège Saint-Anne de Lachine</h4>
              <h5>Réalisation de la restauration et de la conversion d'un édifice historique de grande envergure de six étages en institution collégiale internationale.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slider-arrow left swiper-button-prev"><i class="icon-angle-left"></i></div>
    <div class="slider-arrow right swiper-button-next"><i class="icon-angle-right"></i></div>

  </div>

  <div class="slider-over animated fadeInUp">
    <h3>Les Entreprises Charta Inc.</h3>
    <h1>UNE ÉQUIPE INTÈGRE ET ATTENTIONNÉE POUR DES PROJETS DE QUALITÉ !</h1>
  </div>
</section>

<section id="welcome" class="welcome">
    <div class="container-fluid nopadding">
        <div class="col-left col-md-5">
            <div class="stats-row">
                <div class="first-row">
                    <div class="cell border-bottom">
                        <h5 class="more">Plus de</h5>
                        <div class="stats">
                            40
                        </div>
                        <h5>Années de savoir&#8209;faire</h5>
                    </div>
                    <div class="cell border-vertical">
                        <div></div>
                    </div>
                    <div class="cell border-bottom">
                        <h5 class="more">&nbsp;</h5>
                        <div class="stats">
                            15
                        </div>
                        <h5>Employés d'expérience</h5>
                    </div>
                </div>
                <div class="second-row text-center">
                    <div class="">&nbsp;</div>
                    <div class="cell">
                        <h5 class="more">Plus de</h5>
                        <div class="stats">
                            100
                        </div>
                        <h5>Projet réalisés annuellement</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-right col-md-7">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-11">
                    <h1>Bienvenue</h1>
                        <h4>chez Les Entreprises Charta Inc.</h4>
                        <p>Quel que soit votre projet : construction, rénovation, réfection, ou aménagement dans le domaine de la construction commerciale, institutionnelle ou industrielle, nous le réalisons avec cœur et professionnalisme dans le respect de vos échéances et de votre budget. Notre solide expérience et la qualité de nos réalisations vous assurent que nous possédons la capacité d’évaluer chaque projet dans sa globalité, sa spécificité et sa complexité. De plus, nos connaissances des normes, notre formation LEED ainsi que notre capacité à comprendre vos besoins organisationnels nous permettent d’exécuter vos travaux suivant vos attentes tout en respectant vos impératifs.</p>
                        <p>L’équipe des Entreprises Charta vous offre un service clés en main et une satisfaction garantie.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="home-clients at_logo_carousel" id="logo_carousel">
    <div class="at_logo_carousel_calltoaction_container light">
        <div class="at_logo_carousel_calltoaction">
            <div class="at_logo_carousel_calltoaction_block">
                <h2>
                    Des clients satisfaits depuis 1974
                </h2>
                <p>
                    Depuis plus de 40 ans, la qualité de nos réalisations, le travail exemplaire de notre équipe, notre souci du travail bien fait, notre écoute active et notre respect des attentes et des besoins de notre clientèle, nous offre la plus grande des récompenses : leur satisfaction.
                </p>
                <div class="at_logo_carousel_dismiss_button_container">
                    <a href="{{relative page.dest "dist/realisation-projets.html"}}" class="btn btn-primary btn-lg">Voyez toute nos réalisations</a>
                </div>
                <div class="at_logo_clear"></div>
            </div>
        </div>
    </div>
    <ul>
        <li><img src="{{assets}}/images/logo/agropur-w.png"></li>
        <li><img src="{{assets}}/images/logo/algorythme-pharma-w.png"></li>
        <li><img src="{{assets}}/images/logo/arrondissement-de-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/au-bal-masque-w.png"></li>
        <li><img src="{{assets}}/images/logo/aviva-w.png"></li>
        <li><img src="{{assets}}/images/logo/banque-scotia-w.png"></li>
        <li><img src="{{assets}}/images/logo/bba-w.png"></li>
        <li><img src="{{assets}}/images/logo/bdc-w.png"></li>
        <li><img src="{{assets}}/images/logo/brookfield-johnson-controls-w.png"></li>
        <li><img src="{{assets}}/images/logo/cdec-lasalle-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/cedra-w.png"></li>
        <li><img src="{{assets}}/images/logo/college-sainte-anne-2-w.png"></li>
        <li><img src="{{assets}}/images/logo/college-sainte-anne-w.png"></li>
        <li><img src="{{assets}}/images/logo/congregation-des-ssa-w.png"></li>
        <li><img src="{{assets}}/images/logo/cossette-w.png"></li>
        <li><img src="{{assets}}/images/logo/cpe-jardins-des-frimousses-w.png"></li>
        <li><img src="{{assets}}/images/logo/enjeu-w.png"></li>
        <li><img src="{{assets}}/images/logo/financiere-manuvie-w.png"></li>
        <li><img src="{{assets}}/images/logo/grand-and-toy-w.png"></li>
        <li><img src="{{assets}}/images/logo/groupe-accueil-w.png"></li>
        <li><img src="{{assets}}/images/logo/honeywell-adi-w.png"></li>
        <li><img src="{{assets}}/images/logo/hydro-quebec-w.png"></li>
        <li><img src="{{assets}}/images/logo/iga-vallee-w.png"></li>
        <li><img src="{{assets}}/images/logo/iga-w.png"></li>
        <li><img src="{{assets}}/images/logo/ivanhoe-cambridge-w.png"></li>
        <li><img src="{{assets}}/images/logo/lacapitale-w.png"></li>
        <li><img src="{{assets}}/images/logo/le-parados-w.png"></li>
        <li><img src="{{assets}}/images/logo/loto-quebec-w.png"></li>
        <li><img src="{{assets}}/images/logo/lower-canada-college-w.png"></li>
        <li><img src="{{assets}}/images/logo/maison-developpement-durable-w.png"></li>
        <li><img src="{{assets}}/images/logo/neuf-architectes-w.png"></li>
        <li><img src="{{assets}}/images/logo/plaza-cote-des-neiges-w.png"></li>
        <li><img src="{{assets}}/images/logo/resbourne-w.png"></li>
        <li><img src="{{assets}}/images/logo/rona-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/standard-life-w.png"></li>
        <li><img src="{{assets}}/images/logo/telus-w.png"></li>
        <li><img src="{{assets}}/images/logo/triovest-w.png"></li>
        <li><img src="{{assets}}/images/logo/ville-de-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/vision7-logo.png"></li>
    </ul>
  </div>
</section>

<section class="explore">
  <div class="container">
    <h2 class="text-center">Explorer notre site internet</h2>

    <div class="row">
      <div class="col-md-4">
        <a href="{{relative page.dest "dist/entreprise-avantagescharta.html"}}" class="thumbnail">
          <img src="{{assets}}/images/icon-circle-check.png" class="over icon-circle-check">
          <img src="{{assets}}/images/thumb-handshake.png">
          <div class="caption text-center">
            <h3>Les 7 avantages Charta</h3>
            <p class="desc">Tout ce que nous vous offrons ne vise qu’un unique objectif : vous satisfaire!</p>
            <p class="learn-more">Apprenez-en davantage</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="thumbnail">
          <img src="{{assets}}/images/logo-rona-lachine.png" class="over logo-rona-lachine">

          <img src="{{assets}}/images/thumb-rona-lachine.png">
          <div class="caption text-center">
            <h3>Notre Magasin Rona</h3>
            <p class="desc">Le Centre du Bricoleur Lachine ltée. du 650 rue Notre&#8209;Dame offre désormais un vaste choix de produits et de services dans un magasin nouveau concept qui offre à sa clientèle les nouvelles tendances du marché.</p>
            <p class="learn-more">Apprenez-en davantage</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{relative page.dest "dist/notre-magasinrona.html"}}" class="thumbnail">
          <img src="{{assets}}/images/icon-circle-tools.png" class="over icon-circle-tools">
          <img src="{{assets}}/images/thumb-consultant.png">
          <div class="caption text-center">
            <h3>Espace sous-traitants</h3>
            <p class="desc">Collaborez avec l'équipe Charta.</p>
            <p class="learn-more">Apprenez-en davantage</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="homeInstagram" class="home-instagram">
  <div class="container">
    <h2 class="text-center">Suivez-nous sur Instagram</h2>
    <h4 class="text-center">
      <a href="https://instagram.com/chartaconstruction/" target="_blank">@chartaconstruction</a>
    </h4>

    <div id="instagramHomeFeed" class="owl-carousel"></div>
  </div>
</section>
