---
title: Home
lang: en
ref-fr: index
---

<section id="hero" class="hero parallax full-screen">
  <div class="swiper-container">

    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url('{{assets}}/images/hero-1.jpg');">
        <div class="slider-caption container-fluid">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-7 text-right">
              <h4>Collège Saint-Anne de Lachine</h4>
              <h5>Complete restoration and conversion of a 6-story large-scale historic building in an international private college.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('{{assets}}/images/hero-2.jpg');">
        <div class="slider-caption container-fluid">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-7 text-right">
              <h4>Mount Royal Funeral Complex</h4>
              <h5>Restoration and expansion of the Mount Royal funeral complex, including the crematorium and chapel which can accommodate 300 people.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url('{{assets}}/images/hero-3.jpg');">
        <div class="slider-caption container-fluid">
          <div class="row">
            <div class="col-lg-5 col-lg-offset-7 text-right">
              <h4>Dion, Durrell & associés, Actuarial and Financial Consultants</h4>
              <h5>Complete office layout.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="realisations">
      <a href="{{relative page.dest "dist/achievements-completed-projects.html"}}" class="portfolio-btn btn-lg btn light bordered">View all our completed projects</a>
    </div>

    <div class="slider-arrow left swiper-button-prev"><i class="icon-angle-left"></i></div>
    <div class="slider-arrow right swiper-button-next"><i class="icon-angle-right"></i></div>

  </div>

  <div class="slider-over animated fadeInUp">
    <h3>Les Entreprises Charta inc.</h3>
    <h1>AN INTEGRATED AND ATTENTIVE TEAM FOR QUALITY PROJECTS!</h1>
  </div>
</section>

<section id="welcome" class="welcome">
    <div class="container-fluid nopadding">
        <div class="col-left col-md-5">
            <div class="stats-row">
                <div class="first-row">
                    <div class="cell border-bottom">
                        <h5 class="more">More than</h5>
                        <div class="stats">
                            40
                        </div>
                        <h5>Years of know-how</h5>
                    </div>
                    <div class="cell border-vertical">
                        <div></div>
                    </div>
                    <div class="cell border-bottom">
                        <h5 class="more">&nbsp;</h5>
                        <div class="stats">
                            15
                        </div>
                        <h5>Experienced employees</h5>
                    </div>
                </div>
                <div class="second-row text-center">
                    <div class="">&nbsp;</div>
                    <div class="cell">
                        <h5 class="more">More than</h5>
                        <div class="stats">
                            100
                        </div>
                        <h5>Projects completed annually</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-right col-md-7">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-11">
                    <h1>Welcome</h1>
                        <h4>to Les Entreprises Charta inc.</h4>
                        <p>Whatever your project may be - construction, renovation, reparations, or planning in the commercial, institutional or industrial fields - we work wholeheartedly and with professionalism to meet your deadlines and your budget. Based on our extensive experience and the quality of our past projects, you can rest assured that we have the ability to evaluate the distinctiveness and complexity of every project in its entirety. In addition, our knowledge of standards, our LEED training and our ability to understand your business needs allow us to complete your project according to your expectations, all the while meeting your demands.</p>
                        <p>The team at Les Entreprises Charta Inc. provides you with turnkey service and guaranteed satisfaction.</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="home-clients at_logo_carousel" id="logo_carousel">
    <div class="at_logo_carousel_calltoaction_container dark">
        <div class="at_logo_carousel_calltoaction">
            <div class="at_logo_carousel_calltoaction_block">
                <h2>
                    Satisfied customers since 1974
                </h2>
                <p>
                    For more than 40 years, through the quality of our projects, our team’s exemplary work, our commitment to a job well done, and our active listening and respect for our customers’ needs and expectations has given us the greatest reward: their complete satisfaction.
                </p>
                <div class="at_logo_carousel_dismiss_button_container">
                    <a href="{{relative page.dest "dist/achievements-completed-projects.html"}}" class="btn btn-primary btn-lg">View all our completed projects</a>
                </div>
                <div class="at_logo_clear"></div>
            </div>
        </div>
    </div>
    <ul>
        <li><img src="{{assets}}/images/logo/agropur-w.png"></li>
        <li><img src="{{assets}}/images/logo/algorythme-pharma-w.png"></li>
        <li><img src="{{assets}}/images/logo/arrondissement-de-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/au-bal-masque-w.png"></li>
        <li><img src="{{assets}}/images/logo/aviva-w.png"></li>
        <li><img src="{{assets}}/images/logo/banque-scotia-w.png"></li>
        <li><img src="{{assets}}/images/logo/bba-w.png"></li>
        <li><img src="{{assets}}/images/logo/bdc-w.png"></li>
        <li><img src="{{assets}}/images/logo/brookfield-johnson-controls-w.png"></li>
        <li><img src="{{assets}}/images/logo/cdec-lasalle-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/cedra-w.png"></li>
        <li><img src="{{assets}}/images/logo/college-sainte-anne-2-w.png"></li>
        <li><img src="{{assets}}/images/logo/college-sainte-anne-w.png"></li>
        <li><img src="{{assets}}/images/logo/congregation-des-ssa-w.png"></li>
        <li><img src="{{assets}}/images/logo/cossette-w.png"></li>
        <li><img src="{{assets}}/images/logo/cpe-jardins-des-frimousses-w.png"></li>
        <li><img src="{{assets}}/images/logo/enjeu-w.png"></li>
        <li><img src="{{assets}}/images/logo/financiere-manuvie-w.png"></li>
        <li><img src="{{assets}}/images/logo/grand-and-toy-w.png"></li>
        <li><img src="{{assets}}/images/logo/groupe-accueil-w.png"></li>
        <li><img src="{{assets}}/images/logo/honeywell-adi-w.png"></li>
        <li><img src="{{assets}}/images/logo/hydro-quebec-w.png"></li>
        <li><img src="{{assets}}/images/logo/iga-vallee-w.png"></li>
        <li><img src="{{assets}}/images/logo/iga-w.png"></li>
        <li><img src="{{assets}}/images/logo/ivanhoe-cambridge-w.png"></li>
        <li><img src="{{assets}}/images/logo/lacapitale-w.png"></li>
        <li><img src="{{assets}}/images/logo/le-parados-w.png"></li>
        <li><img src="{{assets}}/images/logo/loto-quebec-w.png"></li>
        <li><img src="{{assets}}/images/logo/lower-canada-college-w.png"></li>
        <li><img src="{{assets}}/images/logo/maison-developpement-durable-w.png"></li>
        <li><img src="{{assets}}/images/logo/neuf-architectes-w.png"></li>
        <li><img src="{{assets}}/images/logo/plaza-cote-des-neiges-w.png"></li>
        <li><img src="{{assets}}/images/logo/resbourne-w.png"></li>
        <li><img src="{{assets}}/images/logo/rona-lachine-w.png"></li>
        <li><img src="{{assets}}/images/logo/standard-life-w.png"></li>
        <li><img src="{{assets}}/images/logo/telus-w.png"></li>
        <li><img src="{{assets}}/images/logo/triovest-w.png"></li>
        <!--<li><img src="{{assets}}/images/logo/ville-de-lachine-w.png"></li>-->
        <li><img src="{{assets}}/images/logo/vision7-logo.png"></li>
    </ul>
  </div>
</section>

<section class="explore">
  <div class="container">
    <h2 class="text-center">Explore our website:</h2>

    <div class="row">
      <div class="col-md-4">
        <a href="{{relative page.dest "dist/business-chartabenefits.html"}}" class="thumbnail">
          <img src="{{assets}}/images/icon-circle-check.png" class="over icon-circle-check">
          <img src="{{assets}}/images/thumb-handshake.png">
          <div class="caption text-center">
            <h3>Les 7 Charta Benefits</h3>
            <p class="desc">In everything we offer to you, we aim to reach one goal only: to bring you satisfaction.</p>
            <p class="learn-more">Learn more</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{relative page.dest "dist/our-rona-store.html"}}" class="thumbnail">
          <img src="{{assets}}/images/logo-rona-lachine.png" class="over logo-rona-lachine">

          <img src="{{assets}}/images/thumb-rona-lachine.png">
          <div class="caption text-center">
            <h3>Our RONA Store</h3>
            <p class="desc">Le Centre du Bricoleur Lachine ltée. at 650 rue Notre-Dame now offers a wide range of products and services in its store with a new design concept that offers customers the latest market trends.</p>
            <p class="learn-more">Learn more</p>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="{{relative page.dest "dist/notre-magasinrona.html"}}" class="thumbnail">
          <img src="{{assets}}/images/icon-circle-tools.png" class="over icon-circle-tools">
          <img src="{{assets}}/images/thumb-consultant.png">
          <div class="caption text-center">
            <h3>Contractor Area</h3>
            <p class="desc">Work with us.</p>
            <p class="learn-more">Learn more</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="homeInstagram" class="home-instagram">
  <div class="container">
    <h2 class="text-center">Follow us on Instagram</h2>
    <h4 class="text-center">
      <a href="https://instagram.com/chartaconstruction/" target="_blank">@chartaconstruction</a>
    </h4>

    <div id="instagramHomeFeed" class="owl-carousel"></div>
  </div>
</section>
