---
title: Plan du site
lang: fr
ref-en: sitemap
---


{{>banner}}

<section id="plandusite" class="plandusite">
    <div class="container plandusite-container">
        <div class="col-md-4 charta-list accueil">
            <ul>
                <li><a href="{{relative page.dest "dist/index.html"}}">Accueil</a></li>
                <li><a href="{{relative page.dest "dist/nouvelles.html"}}">Nouvelles</a></li>
                <li><a href="{{relative page.dest "dist/carrieres.html"}}">Carrières</a></li>
                <li><a href="{{relative page.dest "dist/notre-magasin-rona.html"}}">Notre magasin RONA</a></li>
                <li><a href="#">Espace Sous-Traitants</a></li>
                <li><a href="{{relative page.dest "dist/contactez-nous.html"}}">Contactez-nous</a></li>
                <li><a href="{{relative page.dest "dist/plan-du-site.html"}}">Plan du site</a></li>
                <li><a href="{{relative page.dest "dist/sitemap.html"}}">English</a></li>
            </ul>
        </div>
        <div class="col-md-4 charta-list">
            <a href="{{relative page.dest "dist/entreprise-historique.html"}}"><h2>Entreprise</h2></a>
            <ul class="list-unstyled">
                <li><a href="{{relative page.dest "dist/entreprise-historique.html"}}">Historique</a></li>
                <li><a href="{{relative page.dest "dist/entreprise-philosophie.html"}}">Philosophie</a></li>
                <li><a href="{{relative page.dest "dist/entreprise-avantagescharta.html"}}">Avantages Charta</a></li>
                <li><a href="{{relative page.dest "dist/entreprise-equipe.html"}}">Équipe</a></li>
                <li><a href="{{relative page.dest "dist/entreprise-certifications.html"}}">Certifications </a></li>
            </ul>
        </div>
        <div class="col-md-4 charta-list">
            <a href="{{relative page.dest "dist/realisation-realisez-vos-idees.html"}}"><h2>Réalisation</h2></a>
            <ul class="list-unstyled">
                <li><a href="{{relative page.dest "dist/realisation-realisez-vos-idees.html"}}">Réalisez vos idées</a></li>
                <li><a href="{{relative page.dest "dist/realisation-projets.html"}}">Projets</a></li>
                <li><a href="{{relative page.dest "dist/realisation-gallerie.html"}}">Gallerie photo</a></li>
                <li><a href="{{relative page.dest "dist/realisation-temoignages.html"}}">Témoignages</a></li>
            </ul>
        </div>
    </div>
</section>

{{>jointeam}}
