---
title: Gallerie Photos
parent: Réalisatons
---


{{>banner}}


<section class="section-title light bg">
  <div class="container">
    <p>
      Visitez notre vitrine photo de différents projets réalisés par notre équipe au fil des ans.
    </p>
    <p class="caption">
      (Cliquez sur les catégories ci-dessous pour filtrer ou sur les photos pour agrandir)
    </p>
  </div>
</section>

<section id="realisationGallerie" class="realisation-gallerie">
  <div class="container">
    <div class="filters text-center">
      <div id="portfolio-filter" class="btn-group" role="group">
        <button type="button" class="active btn btn-default">Toutes</button>
        <button type="button" data-filter="bureau" class="btn btn-default">Bureaux</button>
        <button type="button" data-filter="ecole" class="btn btn-default">Écoles</button>
        <button type="button" data-filter="exterieur" class="btn btn-default">Extérieur</button>
        <button type="button" data-filter="complexe" class="btn btn-default">Complexes</button>
        <button type="button" data-filter="escalier" class="btn btn-default">Escaliers</button>
        <button type="button" data-filter="terrassement" class="btn btn-default">Terrassement</button>
      </div>
    </div>

    <div id="portfolio" class="portfolio">
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/centre-medicale-lenjeu.png">
        </div>
        <div class="portfolio-desc">
          <p>bureaux</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau complexe ecole">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/college-saint-anne.png">
        </div>
        <div class="portfolio-desc">
          <p>bureaux, complexe, école</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="exterieur">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/cdlh.png">
        </div>
        <div class="portfolio-desc">
          <p>extérieur</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="cuisine">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/cuisine.png">
        </div>
        <div class="portfolio-desc">
          <p>cuisine</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="exterieur terrassement">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/cimetiere-mont-royal.png">
        </div>
        <div class="portfolio-desc">
          <p>extérieur, terrassement</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="cuisine">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/dion-durell.png">
        </div>
        <div class="portfolio-desc">
          <p>cuisine</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="cuisine">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/bba-brossard.png">
        </div>
        <div class="portfolio-desc">
          <p>cuisine</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/stanford-bank.png">
        </div>
        <div class="portfolio-desc">
          <p>bureaux</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/neuf-architectes.png">
        </div>
        <div class="portfolio-desc">
          <p>bureaux</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="escalier">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/escalier.png">
        </div>
        <div class="portfolio-desc">
          <p>escalier</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="corridor bureau">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/corridor.png">
        </div>
        <div class="portfolio-desc">
          <p>corridor</p>
        </div>
      </article>
    </div>


  </div>
</section>

{{>jointeam}}
