---
title: Gallerie Photos
lang: fr
---


{{>banner}}


<section class="section-title light bg">
    <div class="container">
        <p>
            Visitez notre vitrine photo de différents projets réalisés par notre équipe au fil des ans.
        </p>

        <p class="caption">
            (Cliquez sur les catégories ci-dessous pour filtrer ou sur les photos pour agrandir)
        </p>
    </div>
</section>

<section id="realisationGallerie" class="realisation-gallerie">
    <div class="container">
        <div class="filters text-center">
            <div id="portfolio-filter" class="btn-group" role="group">
                <button type="button" class="active btn btn-default">Toutes</button>
                <button type="button" data-filter="dion_durell" class="btn btn-default">Dion Durell</button>
                <button type="button" data-filter="clinique_l_enjeu" class="btn btn-default">Centre m&eacute;</button>
                <button type="button" data-filter="stanford_bank" class="btn btn-default">Stanford Bank</button>
                <button type="button" data-filter="bba_brossard" class="btn btn-default">BBA Brossard</button>
                <button type="button" data-filter="collegiale_sadl" class="btn btn-default">Coll&eacute;giale SADLColl
                </button>
                <button type="button" data-filter="chapelle_cimetiere_mont_royal" class="btn btn-default">Chapelle
                    cimeti
                </button>
                <button type="button" data-filter="complexe_funeraire_des_trembles" class="btn btn-default">Complexe
                    fun
                </button>
                <button type="button" data-filter="cdlh" class="btn btn-default">CDLH</button>
            </div>
        </div>

        <div id="portfolio" class="portfolio">
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_2.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_3.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>

            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_4.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>

            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_5.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>

            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_6.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>

            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_7.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>

            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_8.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_8.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_9.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_9.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_10.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_10.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_11.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_11.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_12.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_12.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_13.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_13.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_14.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_14.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_15.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_15.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_16.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_16.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_17.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_17.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_18.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_18.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_19.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_19.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="clinique_l_enjeu">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/clinique_l_enjeu_20.jpg" class="fancybox" rel="gallery"
                       title="Centre m&eacute;dical L'ENJEU">
                        <img src="{{assets}}/images/galleries/clinique_l_enjeu_20.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Centre m&eacute;dical L'ENJEU</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_2.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_3.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_4.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_5.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_6.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_7.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="dion_durell">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/dion_durell_8.jpg" class="fancybox" rel="gallery"
                       title="Dion Durell">
                        <img src="{{assets}}/images/galleries/dion_durell_8.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Dion Durell</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_2.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_3.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_4.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_5.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_6.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_7.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="stanford_bank">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/stanford_bank_8.jpg" class="fancybox" rel="gallery"
                       title="Stanford Bank">
                        <img src="{{assets}}/images/galleries/stanford_bank_8.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Stanford Bank</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_1.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_1.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_2.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_3.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_4.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_5.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_6.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="bba_brossard">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/bba_brossard_7.jpg" class="fancybox" rel="gallery"
                       title="BBA Brossard">
                        <img src="{{assets}}/images/galleries/bba_brossard_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>BBA Brossard</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_2.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_3.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_4.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_5.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_6.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_7.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_8.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_8.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_9.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_9.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_10.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_10.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_11.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_11.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_12.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_12.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_13.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_13.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_14.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_14.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_15.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_15.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_16.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_16.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_17.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_17.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_18.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_18.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_19.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_19.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_20.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_20.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_21.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_21.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_22.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_22.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_23.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_23.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_24.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_24.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_25.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_25.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_26.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_26.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_27.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_27.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_28.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_28.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_29.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_29.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_30.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_30.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_31.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_31.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_32.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_32.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_33.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_33.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_34.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_34.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_35.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_35.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_36.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_36.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_37.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_37.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_38.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_38.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="collegiale_sadl">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/collegiale_sadl_39.jpg" class="fancybox" rel="gallery"
                       title="Coll&eacute;giale SADL">
                        <img src="{{assets}}/images/galleries/collegiale_sadl_39.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Coll&eacute;giale SADL</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_2.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_3.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_4.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_5.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_6.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_7.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_8.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_8.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_9.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_9.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_10.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_10.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_11.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_11.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_12.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_12.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_13.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_13.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_14.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_14.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_15.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_15.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_16.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_16.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="chapelle_cimetiere_mont_royal">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_17.jpg" class="fancybox"
                       rel="gallery"
                       title="Chapelle cimeti&egrave;re Mont Royal">
                        <img src="{{assets}}/images/galleries/chapelle_cimetiere_mont_royal_17.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Chapelle cimeti&egrave;re Mont Royal</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="complexe_funeraire_des_trembles">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/complexe_funeraire_des_trembles_2.jpg" class="fancybox"
                       rel="gallery"
                       title="Complexe fun&eacute;raire des trembles">
                        <img src="{{assets}}/images/galleries/complexe_funeraire_des_trembles_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Complexe fun&eacute;raire des trembles</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="complexe_funeraire_des_trembles">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/complexe_funeraire_des_trembles_3.jpg" class="fancybox"
                       rel="gallery"
                       title="Complexe fun&eacute;raire des trembles">
                        <img src="{{assets}}/images/galleries/complexe_funeraire_des_trembles_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Complexe fun&eacute;raire des trembles</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="complexe_funeraire_des_trembles">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/complexe_funeraire_des_trembles_4.jpg" class="fancybox"
                       rel="gallery"
                       title="Complexe fun&eacute;raire des trembles">
                        <img src="{{assets}}/images/galleries/complexe_funeraire_des_trembles_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Complexe fun&eacute;raire des trembles</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="complexe_funeraire_des_trembles">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/complexe_funeraire_des_trembles_5.jpg" class="fancybox"
                       rel="gallery"
                       title="Complexe fun&eacute;raire des trembles">
                        <img src="{{assets}}/images/galleries/complexe_funeraire_des_trembles_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Complexe fun&eacute;raire des trembles</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="complexe_funeraire_des_trembles">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/complexe_funeraire_des_trembles_6.jpg" class="fancybox"
                       rel="gallery"
                       title="Complexe fun&eacute;raire des trembles">
                        <img src="{{assets}}/images/galleries/complexe_funeraire_des_trembles_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Complexe fun&eacute;raire des trembles</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="complexe_funeraire_des_trembles">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/complexe_funeraire_des_trembles_7.jpg" class="fancybox"
                       rel="gallery"
                       title="Complexe fun&eacute;raire des trembles">
                        <img src="{{assets}}/images/galleries/complexe_funeraire_des_trembles_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>Complexe fun&eacute;raire des trembles</p>
                </div>
            </article>


            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_2.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_2.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_3.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_3.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_4.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_4.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_5.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_5.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_6.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_6.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_7.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_7.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_8.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_8.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_9.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_9.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
            <article class="portfolio-item" data-tags="cdlh">
                <div class="portfolio-image">
                    <a href="{{assets}}/images/galleries/cdlh_10.jpg" class="fancybox" rel="gallery" title="CDLH">
                        <img src="{{assets}}/images/galleries/cdlh_10.jpg">
                    </a>
                </div>
                <div class="portfolio-desc">
                    <p>CDLH</p>
                </div>
            </article>
        </div>


    </div>
</section>

{{>jointeam}}
