---
title: Projets
parent: Réalisatons
---


{{>banner}}


<section id="realisationProjet" class="realisation-projets" xmlns="http://www.w3.org/1999/html">
  <div class="container section-title light">
    <p>
      Nous sommes fiers d’avoir réalisé et collaboré à une multitude de travaux de toutes envergures au Québec en Ontario et au Nouveau-Brunswick. Nous sommes réputés pour la qualité de nos réalisations et pour notre expertise en planification et en gestion de projet tant dans le domaine de la construction, que de la rénovation commerciale, institutionnelle et industrielle ainsi que dans les travaux d’aménagement, ou de transformation d’espace. Notre savoir-faire et notre expertise s’appliquent tout autant aux édifices modernes, qu’aux complexes spécialisés ou de haute technologie qu’aux bâtiments historiques de toutes superficies.
    </p>
    <p class="caption">
      (Cliquez sur les catégories ci-dessous pour filtrer ou sur les photos pour agrandir)
    </p>
  </div>
  <div class="container">
    <div class="filters text-center">
      <div id="portfolio-filter" class="btn-group" role="group">
        <button type="button" class="active btn btn-default">Toutes</button>
        <button type="button" data-filter="bureau" class="btn btn-default">Bureau</button>
        <button type="button" data-filter="ecole" class="btn btn-default">École</button>
        <button type="button" data-filter="exterieur" class="btn btn-default">Extérieur</button>
        <button type="button" data-filter="complexe" class="btn btn-default">Complexe</button>
      </div>
    </div>

    <div id="portfolio" class="portfolio">
      <article class="portfolio-item" data-tags="bureau complexe">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/centre-medicale-lenjeu.png">
        </div>
        <div class="portfolio-desc">
          <h4>Centre médical L’ENJEU</h4>
          <h5>Clinique médicale spécialisée en cardiologie</h5>
          <p>Réalisation de l’aménagement complet d’une clinique médicale ultra moderne de plus de 14 000 pieds carrés dotée de matériaux à la fine pointe de la technologie.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="ecole">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/college-saint-anne.png">
        </div>
        <div class="portfolio-desc">
          <h4>Collège Sainte-Anne de Lachine</h4>
          <h5>Collégial International Sainte-Anne</h5>
          <p>Réalisation de la restauration et de la conversion d’un édifice historique de grande envergure de six étages en institution collégiale internationale privée.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="complexe exterieur">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/cdlh.png">
        </div>
        <div class="portfolio-desc">
          <h4>Complexe funéraire cimetière Mont-Royal</h4>
          <p>Restauration et agrandissement du complexe funéraire du cimetière Mont-Royal comprenant le crématorium et la chapelle pouvant acceuillir 300 personnes.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau exterieur">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/stanford-bank.png">
        </div>
        <div class="portfolio-desc">
          <h4>Stanford Bank</h4>
          <h5>Institution financière</h5>
          <p>Aménagement des bureaux prestigieux de l'équipe de direction d’une institution financière.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/neuf-architectes.png">
        </div>
        <div class="portfolio-desc">
          <h4>NEUF architect(e)s</h4>
          <p>Aménagement de bureaux d'ingénieurs de plus de 20 000 pieds carrés.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="complexe exterieur">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/cimetiere-mont-royal.png">
        </div>
        <div class="portfolio-desc">
          <h4>Complexe funéraire cimetière Mont-Royal</h4>
          <p>Restauration et agrandissement du complexe funéraire du cimetière Mont-Royal comprenant le crématorium et la chapelle pouvant acceuillir 300 personnes.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="bureau">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/dion-durell.png">
        </div>
        <div class="portfolio-desc">
          <h4>Dion, Durrell &amp; associés,</h4>
          <h5>Conseillers en actuariat et finances</h5>
          <p>Réalisation de l’aménagement complet d’une clinique médicale ultra moderne de plus de 14 000 pieds carrés dotée de matériaux à la fine pointe de la technologie.</p>
        </div>
      </article>
      <article class="portfolio-item" data-tags="complexe exterieur">
        <div class="portfolio-image">
          <img src="{{assets}}/images/portfolio/bba-brossard.png">
        </div>
        <div class="portfolio-desc">
          <h4>Complexe funéraire des Trembles</h4>
          <p>Construction et aménagement du complexe funéraire des Trembles incluant toutes les voies d'accès et le terrassement.</p>
        </div>
      </article>
    </div>

    
  </div>
</section>

{{>jointeam}}
