<footer>
    <div class="container">
        <div class="row">
            <div class="sitemap-col col-md-offset-1 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="{{relative page.dest "dist/index-en.html"}}">Home</a></li>
                    <li><a href="{{relative page.dest "dist/news.html"}}">News</a></li>
                    <li><a href="{{relative page.dest "dist/careers.html"}}">Careers</a></li>
                    <li><a href="{{relative page.dest "dist/our-rona-store.html"}}">Our RONA Store</a></li>
                    <li><a href="#">Contractor Area</a></li>
                    <li><a href="{{relative page.dest "dist/contact-us.html"}}">Contact Us</a></li>
                    <li><a href="{{relative page.dest "dist/sitemap.html"}}">Sitemap</a></li>
                    <li><a href="{{relative page.dest "dist/index.html"}}">Français</a></li>
                </ul>
            </div>

            <div class="entreprise-col col-md-2">
                <h5>Business</h5>
                <ul class="list-unstyled">
                    <li><a href="{{relative page.dest "dist/business-history.html"}}">Historique</a></li>
                    <li><a href="{{relative page.dest "dist/business-philosophy.html"}}">Philosophie</a></li>
                    <li><a href="{{relative page.dest "dist/business-chartabenefits.html"}}">Avantages Charta</a></li>
                    <li><a href="{{relative page.dest "dist/business-team.html"}}">Équipe</a></li>
                    <li><a href="{{relative page.dest "dist/business-certifications.html"}}">Certifications </a></li>
                </ul>
            </div>

            <div class="realisation-col col-md-2">
                <h5>Achievements</h5>
                <ul class="list-unstyled">
                    <li><a href="{{relative page.dest "dist/achievements-materialize-your-ideas.html"}}">Réalisez vos idées</a></li>
                    <li><a href="{{relative page.dest "dist/achievements-projects.html"}}">Projets</a></li>
                    <li><a href="{{relative page.dest "dist/achievements-photo-gallery.html"}}">Gallerie photo</a></li>
                    <li><a href="{{relative page.dest "dist/achievements-testimonials.html"}}">Témoignages</a></li>
                </ul>
            </div>


            <div class="contact-col col-md-4">
                <h3>Les Entreprises Charta Inc.</h3>
                <h5>
                    <address>530, 19<sup>th</sup> Avenue, Lachine (Quebec) H8S 3S5</address>
                </h5>

                <h5 class="call-us">Contact us for more details</h5>

                <h1>
                    <phone><a href="tel:514-637-6725">514 637-6725</a></phone>
                </h1>
            </div>

        </div>

        <div class="copyright text-center">
            © 2016 Les Entreprises Charta Inc. – All rights reserved
        </div>
    </div>
</footer>
