<footer>
    <div class="container">
        <div class="row">
            <div class="sitemap-col col-md-offset-1 col-md-3">
                <ul class="list-unstyled">
                    <li><a href="{{relative page.dest "dist/index.html"}}">Accueil</a></li>
                    <li><a href="{{relative page.dest "dist/nouvelles.html"}}">Nouvelles</a></li>
                    <li><a href="{{relative page.dest "dist/carrieres.html"}}">Carrières</a></li>
                    <li><a href="{{relative page.dest "dist/notre-magasin-rona.html"}}">Notre magasin RONA</a></li>
                    <li><a href="#">Espace Sous-Traitants</a></li>
                    <li><a href="{{relative page.dest "dist/contactez-nous.html"}}">Contactez-nous</a></li>
                    <li><a href="{{relative page.dest "dist/plan-du-site.html"}}">Plan du site</a></li>
                    <li><a href="{{relative page.dest "dist/index-en.html"}}">English</a></li>
                </ul>
            </div>

            <div class="entreprise-col col-md-2">
                <h5>Entreprise</h5>
                <ul class="list-unstyled">
                    <li><a href="{{relative page.dest "dist/entreprise-historique.html"}}">Historique</a></li>
                    <li><a href="{{relative page.dest "dist/entreprise-philosophie.html"}}">Philosophie</a></li>
                    <li><a href="{{relative page.dest "dist/entreprise-avantagescharta.html"}}">Avantages Charta</a></li>
                    <li><a href="{{relative page.dest "dist/entreprise-equipe.html"}}">Équipe</a></li>
                    <li><a href="{{relative page.dest "dist/entreprise-certifications.html"}}">Certifications </a></li>
                </ul>
            </div>

            <div class="realisation-col col-md-2">
                <h5>Réalisations</h5>
                <ul class="list-unstyled">
                    <li><a href="{{relative page.dest "dist/realisation-realisez-vos-idees.html"}}">Réalisez vos idées</a></li>
                    <li><a href="{{relative page.dest "dist/realisation-projets.html"}}">Projets</a></li>
                    <li><a href="{{relative page.dest "dist/realisation-gallerie.html"}}">Galerie photos</a></li>
                    <li><a href="{{relative page.dest "dist/realisation-temoignages.html"}}">Témoignages</a></li>
                </ul>
            </div>


            <div class="contact-col col-md-4">
                <h3>Les Entreprises Charta inc.</h3>
                <h5>
                    <address>530, 19<sup>e</sup> Avenue, Lachine (Québec) H8S 3S5</address>
                </h5>

                <h5 class="call-us">Contactez-nous pour plus de détails</h5>

                <h1>
                    <phone><a href="tel:514-637-6725">514 637-6725</a></phone>
                </h1>
            </div>

        </div>

        <div class="copyright text-center">
            © 2016 Les Entreprises Charta inc. – Tout droits réservés.
        </div>
    </div>
</footer>
