<div id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{relative page.dest "dist/index.html"}}">
        <img src="{{assets}}/images/charta-logo.png">
      </a>
      <div class="navbar-reach">
        <h4>Entrepreneur général de Montréal en construction commerciale, industrielle et institutionnelle</h6>
        <phone>514 637-6725</phone>
        <h6>Contactez-nous pour plus de détails – Licence RBQ n° 1367-3231-71</h6>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- you can exclude pages using \{{#isnt}} helper: \{{#isnt data.title 'Blog'}} -->
        {{#each pages}}
          {{#is data.parent 'root'}}
            <li{{#if this.isCurrentPage}} class="active"{{/if}}>
              <a href="{{relative dest this.dest}}">{{ data.title }}</a>
            </li>
          {{/is}}
        {{/each}}
          <li>
            <a href="#">Entreprise</a>
            <ul class="list-unstyled">
              <li><a href="{{relative page.dest "dist/entreprise-historique.html"}}">Historique</a></li>
              <li><a href="{{relative page.dest "dist/entreprise-philosophie.html"}}">Philosophie</a></li>
              <li><a href="{{relative page.dest "dist/entreprise-avantagescharta.html"}}">Avantages Charta</a></li>
              <li><a href="{{relative page.dest "dist/entreprise-equipe.html"}}">Équipe</a></li>
              <li><a href="{{relative page.dest "dist/entreprise-certifications.html"}}">Certifications   </a></li>
            </ul>
          </li>
          <li>
            <a href="#">Réalisation</a>
            <ul class="list-unstyled">
              <li><a href="{{relative page.dest "dist/realisation-realisezvosidees.html"}}">Réalisez vos idées</a></li>
              <li><a href="{{relative page.dest "dist/realisation-projets.html"}}">Projets</a></li>
              <li><a href="{{relative page.dest "dist/realisation-gallerie.html"}}">Gallerie photo</a></li>
              <li><a href="{{relative page.dest "dist/realisation-temoignages.html"}}">Témoignages</a></li>
            </ul>
          </li>
          <li>
            <a href="{{relative page.dest "dist/nouvelles.html"}}">Nouvelles</a>
          </li>
          <li>
            <a href="{{relative page.dest "dist/carrieres.html"}}">Carrières</a>
          </li>
          <li>
              <a href="{{relative page.dest "dist/contactez-nous.html"}}">Contact</a>
          </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
