<div id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{relative page.dest "dist/index.html"}}">
        <img src="{{assets}}/images/charta-logo.jpg" width="56" height="68" />
      </a>
      <div class="navbar-reach">
        <h4>Entrepreneur général de Montréal en construction commerciale, industrielle et institutionnelle</h4>
        <phone><a href="tel:514-637-6725">514 637-6725</a></phone>
        <h6>Contactez-nous pour plus de détails</h6>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <div class="over-menu">
        <div class="menu-item"><a href="#">Espace sous-traitants</a></div>
        <div class="menu-item"><a href="#">English</a></div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {{#each site.menu_fr}}
          <li{{#if this.active}} class="active"{{/if}}>
            <a href="{{relative dest this.dest}}">{{ this.label }}</a>
            {{#if this.items}}
              <ul class="list-unstyled">
                {{#each this.items}}
                  <li{{#if this.active}} class="active"{{/if}}><a href="{{relative dest this.dest}}">{{ this.label }}</a></li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
